<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
<head><title>There's no SPOON</title></head>
<body>
    {% set callCritMax = page*artCnt %}
    {% set callCritMin = (page-1)*artCnt %}
    {% set listoView1 = username[callCritMin:callCritMax]%}
    {% set listoView2 = usernick[callCritMin:callCritMax]%}
    <h1>index main page1</h1>
    <table border="2" align="center">
    {% for i in range(listoView1|length) %}
    <tr>
        <td>{{i}}이 나왔습니다.{{listoView1[i]}}{{listoView2[i]}}님!</td>
    </tr>
    {%endfor%}
    </table>
    <div align="center">
    {% set pCnt = page_Cnt(username|length,artCnt) %}
    {% for i in range(pCnt):%}
    <a href="/pagenum={0}".format(i)>{{i+1}}</a>
    {% endfor %}
    </div>
</body>
</html>